{% extends "base.html" %}
{% load name %}
{% block content %}  
    <a href="{% url 'add-task' %}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            {% for header_name in header_names %}
            <th scope="col">{{ header_name }}</th>
            {% endfor %}
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            {% for name in field_names %}
            <td>{{ task|get_attr:name }}</td>
            {% endfor %}
            <td><a href="{% url 'edit-task' task.id %}"><i class="fa fa-edit"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}