{% extends "base.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Created Date</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.created_at}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}